/* #region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --bg-btn: #4A4A4A;
    --bg-nav: #222222;
    --active-nav: #4BC800;
    --red: #FF0000;
}

img {
    max-width: 100%;
}


/* #endregion Common */


/* #region Utility */

.d-flex {
    display: flex;
}

.p-relative {
    position: relative;
}


/* #endregion Utility */


/* #region Main */

main {
    background-color: var(--black);
    color: white;
    width: 100vw;
    height: calc(100vh - 80px);
    padding: 80px 80px 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.view {
    position: absolute;
    top: 10px;
    right: 5px;
}

.view>a {
    background-color: var(--bg-btn);
    font-size: .92rem;
    padding: 5px;
    border-radius: 0.25rem;
    margin: 0 5px;
}

.card {
    width: 240px;
    height: 140px;
}

.user-card {
    background-color: rgb(0 0 0 / 42%);
    font-size: .9rem;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.card:hover {
    box-shadow: 0px 0px 2px 3px #fcfcfc75;
}


/* #endregion Main */


/* #region footer */

footer {
    background-color: var(--bg-nav);
    color: white;
    padding-left: 10px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

footer [class^="item"] {
    text-align: center;
}

footer [class^="item"]:hover .text {
    color: var(--active-nav)
}

footer a.icon {
    font-size: 1.7rem;
    color: white;
    margin-bottom: 5px;
    display: inline-block;
}

.menu-left,
.menu-center {
    column-gap: 25px;
}

.text {
    font-size: 15px;
}

.angle {
    align-self: center;
}

.angle a {
    color: white;
    text-decoration: none;
}

.angle:hover {
    transform: rotate(90deg)
}

#active {
    color: var(--active-nav)
}

.end-menu a {
    background-color: var(--bg-btn);
    color: red;
    padding: 30px;
}


/* #endregion footer */